  <footer class="footer">
   <div class="footer-container d-flex justify-content-center pb-5">
    <div class="mt-5 mb-5">
      <p>Portfolio Pilot - All Rights Reserved <%= Date.current.year %></p>
      <p></p>
      <ul class="footer-link d-flex justify-content-center">
        <li class="footer-icon"><a href="https://github.com/guidonunes/portifolio_pilot_v2" target="_blank"><i class="fab fa-github"></i></a></li>
        <li class="footer-icon"><a href="mailto:guilherme.augd@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="footer-icon"><a href="https://www.linkedin.com/in/guilhermednunes" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
    </div>
  </div>
</footer>
