.navbar-lewagon {
  justify-content: space-between;
  background: $midnight-blue;

  .nav-link {
    font-size: 16px;
    color: $soft-white;

    @media (max-width: 576px) {
      font-size: 14px;
      padding: 8px 12px;
    }

    &:hover {
      font-weight: 500;
      color: $gold;
    }
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 50px;
    margin-right: 0px;

    @media (max-width: 576px) {
      width: 40px;
    }
  }

  .navbar-toggler {
    border-color: $soft-white;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }
}
